* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    height: 100px;
    width: 100;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 80px;
    width: 160px;
    background-image: url("../images2/logo.png");
    background-size: 100% 100%;
}

.Home1 {
    font-size: 1.5rem;
    margin-left: 250px;
}

.Home1 a {
    text-decoration: none;
    /* color: #285380; */
    color: white;
}

.Home {
    font-size: 1.5rem;
}

.Home a {
    text-decoration: none;
    /* color: #285380; */
    color: white;
}

.Home1 a:hover {
    color: rgb(8, 8, 73);
}

.Home a:hover {
    color: rgb(8, 8, 73);
}


/* main */

.inner-banner {
    background-image: url("https://plus.unsplash.com/premium_photo-1661490672797-7a6e4f1ba3d9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    height: 320px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.container {
    color: white;
    /* font-size: 35px;
    font-weight: 600;  */
    font-family: 'Times New Roman', Times, serif;
}

.display {
    font-weight: bold;
    font-size: 45px;
}

.lead {
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

.lead1 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.all {
    /* border:2px solid black; */
    height: 2800px;
    margin: 52px 32px;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.wlcm {
    padding-top: 15px;
    font-size: 19px;
    margin-bottom: 50px;
}

.roll {
    font-weight: 600;
    font-size: 28px;
    height: 70px;
    background-color: #222f3d;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-0 {
    padding-bottom: 20px;
}

.pix {
    padding: 20px;
}

.inv {
    text-align: center;
    margin: 50px 0px;
}

.in {
    padding-top: 15px;
    height: 70px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: orange;
    color: white;
}

img {
    border: 15px groove grey;
}

.mb-auto {
    font-size: 16px;
}

.col-md-7 {
    text-align: center;
    padding-top: 60px;
}

.photo {
    padding: none;
}

.footer1 {
    height: 200px;
    background-color: #ff8b28;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.image {
    height: 260px;
    width: 400px;
    background-image: url("../images2/people.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -160px;
    margin-left: 50px;
}

.free {
    height: 200px;
    width: 400px;
    font-weight: 800;
    font-size: 2rem;
    text-align: justify;
    margin-top: -35px;
    margin-left: -100px;
}

.free img {
    height: 200px;
    width: 200px;
}

.book {
    margin-top: -15px;
}

button {
    color: orange;
    margin-left: -50px;
    margin-top: -120px;
    height: 50px;
    width: 265px;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(253, 194, 85);
    color: white;
    scale: 1.1;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

ul a {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
    cursor: pointer;
}

.final {
    margin-left: 0px;
    font-size: 1.2rem;
    cursor: pointer;
    padding-top: 25px;
}

.final a:hover {
    color: white;
}

.footer-panel4 {
    background-color: #0f1111;
    color: white;
    height: 60px;
    padding: 10px;
}

.pages {
    font-size: 0.9rem;
    text-align: center;
}

.copyright {
    font-size: 0.9rem;
    text-align: center;
}